@media only screen and (min-width: 768px) and (max-width:991px){
    /* header */
    .wrapper .header{
        width: 100%!important;
    }
    .wrapper .header .header-up{
        width: 100%;
    }
    .wrapper .header .header-up .container .mb-view{
        display: block;
        color: aliceblue;
        position: relative;
        float: left;
        margin-left: 15px;
        padding: 9px 10px;
        top: 0.5rem;
        transition: width 2s;
        transition-timing-function: linear;
    }
    .wrapper .header .header-up .container .mb-view>a{
        display: none;
    }
    .wrapper .header .header-up .container .logo{
        width: 500px;
        text-align: center;
        left: 0;
        top: 0.3rem;
    }
    .wrapper .header .header-up .container .headersearch{
        position: relative;
        margin-top:1rem ;
        width: 600px;
        left: 0;
        right: 0;
        margin-left: 30px;
    }
    .wrapper .header .header-up .container .header-left{
        position: absolute;
        width: 30%;
        left: 500px;
        /* overflow: hidden; */
    }
    .wrapper .header .header-up .container .header-left .header-c-s{
        position: relative;
        float: left;
        /* overflow: hidden; */
    }
    .wrapper .header .header-up .container .header-left .cart{
        position: relative;
        float: left;
        /* overflow: hidden; */
    }
    .wrapper .header .header-down{
        display: none;
    }
    /* sidebar */
    .wrapper .header .responsive{
        display: block;
        position: fixed;
        width: 40%;
        height: 100%;
        top: 0;
        overflow: visible!important;
        z-index: 3;
    }
    .wrapper .header-up .responsive{
        position: fixed;
    }
    .wrapper .header .responsive .container{
        padding-left: 2px;
        padding-right: 2px;
        width: 100%;
    }
    .wrapper .header .responsive .container .mega-menu{
        margin-top: 2rem;
        left: 0;
        right: 0;
    }
    .wrapper .header .responsive .container .mega-menu>li{
        padding: 5px 2px;
        width: 100%;
    }
    
    .wrapper .header .responsive .container .mega-menu>li>a{
        float: left;
    }
    .wrapper .header .responsive .container .mega-menu>.close-btn{
        display: block;
    }
    .wrapper .header .responsive .container .mega-menu>.close-btn>a{
        float: right;
        margin-right: 10px;
        color: black;
    }
    .wrapper .header .responsive .container .mega-menu>.close-btn>a>.fa{
        font-weight: bold;
        font-size: 20px;
    }
    .wrapper .header .responsive .container .mega-menu>.sub-menu{
        border-bottom: 1px solid gainsboro;
    }
    .wrapper .header .responsive .container .mega-menu>.sub-menu:hover,
    .wrapper .header .responsive .container .mega-menu>.sub-menu:focus{
        background-color: gainsboro;
    }
    .wrapper .header .responsive .container .mega-menu>.sub-menu>a>.fa{
        display: none;
    }
    .wrapper .header .responsive .container .mega-menu .sub-menu #sub
    {
        display: none;
    }
    .wrapper .header .responsive .container .mega-menu>#con>a>i{
        display: block;
        float: right;
        margin-left: 170px;
    }

    .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller{
        position: relative;
        background-color: gainsboro;
        margin-left:0;
        width: 100%;
    }
    .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller>.row-list-seller>li>a{
        float: left;
        color: rgb(22, 22, 22);
    }

    /* main */
    .wrapper .owl-carousel{
        overflow: hidden!important;
        position: relative;
    }
    .wrapper .owl-carousel .item .img{
        height: 30%;
    }
  .wrapper .down-container .main-block .f-block{
      width: 75%;
      height: 30%;
      margin-top: 5px;
  }
    .wrapper .down-container .main-block .f-block .block-1-1>.block-1-btn{
        margin-left: 80%;
    }
    .wrapper .down-container .main-block .s-block,
    .wrapper .down-container .main-block .t-block{
        height: 30%;
    }
    .wrapper .down-container .main-block .s-block .block2>.block-1-btn,
    .wrapper .down-container .main-block .t-block .block3>.block-1-btn{
        margin-left: 88%;
    }
        /* advortise */
    .wrapper .advo{
        margin-left: 74%;
        margin-top:3.4rem ;
        padding-left:5px ;
        padding-right: 5PX;
   }
    .wrapper .advo .ban{
        width:185px; 
        height: 270px;
    }
    .wrapper .advo .ban>img{
        width:185px; 
        height: 270px;
    }
    .wrapper .adv-1 .adv1-1>img{
        width: 247px;
    }
    
    /* products.html */
    .wrapper .items-container .side-left{
        width: 200px!important;
    }
    .wrapper .items-container .side-right{
        width: 555px!important;
        margin-left: 210px!important;
    }
    .wrapper .items-container .block-up-1{
        display: none;
    }
    .wrapper .items-container .side-right .block-down .row{
        height: 300px!important;
    }
    .wrapper .items-container .side-right .block-down .row .card-img{
        height: 150px!important;
    }
    .wrapper .items-container .side-right .block-down .row .description{
        height: 150px!important;
    }
    .wrapper .items-container .side-right .block-down .row .description>h5{
        font-size:13px!important;
    }
    .wrapper .items-container .side-right .block-down .row .description .extra-info>p{
        font-size: 14px!important;
    }
    .wrapper .items-container .block-up-1 .block-head .display{
        display: none;
    }

    /* sub-products.html */
.wrapper .body-part .s-down-container .s-block .block2 .block-1-btn{
    margin-left: 88%!important;
}
 /* cart.html */
 .wrapper .main-body .section1{
     width: 69%!important;
     margin-left: 5px;
     margin-right: 2.5px;
 }
 .wrapper .main-body .section1 .cart .cart-up .c-name h3{
     padding: 0 20px!important;
    font-size: 15px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1{
    width: 350px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-del{
    margin-left: 30px!important;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-del span{
    font-size: 11px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1 .dis-01 span{
    font-size: 13px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add ,
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1{
    width: 230px;
    margin-right: 5px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2{
    height:70%;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0021{
    margin-left: 5px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 .dis-00221{
    font-size: 12px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 .dis-00221{
    font-size: 13px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023{
    margin-left: 10px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023 input::placeholder{
    font-size: 12px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023 span{
    font-size: 13px;
    margin-top: 18px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up a{
    height: 122px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221 a{
    font-size: 13px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down{
    padding-top: 5px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202 .save-later,
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202 .remove{
    font-size: 14px;
}
.wrapper .main-body .section1 .cart .cart-down .dis-023 form button{
    font-size: 13px;
    padding: 12px 20px;
}
 .wrapper .main-body .section2{
    width: 29%!important;
    margin-left: 2.5px;
    margin-right: 5px;
    height: 230px;
 }
 .wrapper .main-body .section2 .cart-down0 .cart-down1>span{
    font-size: 13px;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money{
    padding: 0 10px;
    font-size: 12px;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount ,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount1 {
    font-size: 13px;
}
.wrapper .main-body .mobile-view{
    display: none;
}




  }

  @media only screen and (min-width:350px) and (max-width: 600px){
    /* header */
  .wrapper .header .header-up .container .mb-view{
      display: block;
      color: aliceblue;
      position: relative;
      float: left;
      margin-left: 2px;
      padding:5px;
      top: 0.5rem;
  }
  .wrapper .header .header-up .container .mb-view>span{
    display: none;
  }
  .wrapper .header .header-up .container .mb-view>a{
      display: block;
      color: aliceblue;
  }
  .wrapper .header .header-up .container .logo{
      text-align: center;
      left: 0;
      top: 0.3rem;
  }
  .wrapper .header .header-up .container .logo img{
      height: 20px!important;
      margin-left: 5px!important;
  }
  .wrapper .header .header-up .container .headersearch{
      position: relative;
      width: 367px;
      left: 0;
      right: 0;
      margin-left: 5px;
      bottom: 0;
      margin-bottom: -3px;
  }
  .wrapper .header .header-up .container .headersearch form .search .search-category{
      display: none;
  }
  .wrapper .header .header-up .container .headersearch form .search .form-control{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      width: 80%!important;
      height: 28px;
  }
  .wrapper .header .header-up .container .header-left{
      position: absolute;
      width: 50%;
      left: 50%;
      font-size: 10px;
      top:-6px;
  }
  .wrapper .header .header-up .container .header-left .header-c-s{
      position: relative;
      float: left;
      margin-left: 110px;
  }
  .wrapper .header .header-up .container .header-left .header-c-s .btn-warn{
      padding: 5px;
      background-color: #143763;
      color: white;
  }
  .wrapper .header .header-up .container .header-left .cart{
      position: relative;
      float: left;
      margin-left: -110px;
  }
  .wrapper .header .header-up .container .header-left .cart a>span{
      display: none;
  }
  .wrapper .header .header-down{
      display: none;
  }
  /* sidebar */
  .wrapper .header .responsive{
      display: block;
      position: fixed;
      width: 60%;
      height: 100%;
      top: 0;
      overflow: visible!important;
      z-index: 3;
  }
  .wrapper .header-up .responsive{
      position: fixed;
  }
  .wrapper .header .responsive .container{
      padding-left: 2px;
      padding-right: 2px;
      width: 100%;
  }
  .wrapper .header .responsive .container .mega-menu{
      margin-top: 2rem;
      left: 0;
      right: 0;
  }
  .wrapper .header .responsive .container .mega-menu>li{
      padding: 5px 2px;
      width: 100%;
  }
  
  .wrapper .header .responsive .container .mega-menu>li>a{
      float: left;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn{
      display: block;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn>a{
      float: right;
      margin-right: 10px;
      color: black;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn>a>.fa{
      font-weight: bold;
      font-size: 20px;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu{
      border-bottom: 1px solid gainsboro;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu:hover,
  .wrapper .header .responsive .container .mega-menu>.sub-menu:focus{
      background-color: gainsboro;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu>a>.fa{
      display: none;
  }
  .wrapper .header .responsive .container .mega-menu .sub-menu #sub
  {
      display: none;
  }
  .wrapper .header .responsive .container .mega-menu>#con>a>i{
      display: block;
      float: right;
      margin-left: 5.5rem;
  }

  .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller{
      position: relative;
      background-color: gainsboro;
      margin-left:0;
      width: 100%;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller>.row-list-seller>li>a{
      float: left;
      color: rgb(22, 22, 22);
  }

  /* main */
  .wrapper .owl-carousel{
      overflow: hidden!important;
      position: relative;
  }
  .wrapper .owl-carousel .item .img{
      height: 150px!important;
  }
  .owl-nav>button{
      display: none;
  }
  .wrapper .flex-box .flex-container{
      flex-direction: column;
  }
  .wrapper .down-container{
      margin-top: 50%;
  }
.wrapper .down-container .main-block .f-block{
    margin-top: 10px;
    width: 100%;
    height: 30%;
  }
  .wrapper .down-container .main-block .f-block .block-1-1>.block-1-btn,
  .wrapper .down-container .main-block .s-block .block2>.block-1-btn,
  .wrapper .down-container .main-block .t-block .block3>.block-1-btn{
      margin-left: 82%;
      padding: 4px 8px;
      font-size: 12px;
  }
  .wrapper .down-container .main-block .f-block .block-1-1>h3,
.wrapper .down-container .main-block .s-block .block2>h3,
.wrapper .down-container .main-block .t-block .block3>h3{
    font-size: 15px;
}
.wrapper .down-container .main-block .f-block,
  .wrapper .down-container .main-block .s-block,
  .wrapper .down-container .main-block .t-block{
      height: 40%;
  }
  .wrapper .down-container .main-block .s-block .block-2-1>.row,
  .wrapper .down-container .main-block .t-block .block-3-1>.row,
  .wrapper .down-container .main-block .f-block .block-1>.row {
      padding: 30px;
  }
  .wrapper .down-container .main-block .f-block .block-1 .row a>.top-img,
  .wrapper .down-container .main-block .s-block .block-2-1 .row a>.b-img,
  .wrapper .down-container .main-block .t-block .block-3-1 .row a>.b-img{
      padding-left: 20px;
      width: 200px;
  }
  /* advortise */
  .wrapper .advo{
      display: none;
  }
  .wrapper .adv-1 .adv1-1>img{
      width: 100%;
      padding-left: 2px;
  }

  /* products.html */
  .wrapper .items-container .side-left .category,
  .wrapper .items-container .side-left .range,
  .wrapper .items-container .side-left .section{
     display: none;
  }
  .wrapper .items-container .side-right .block-up{
    display: none;
}
.wrapper .items-container  .block-up-1 .path,
.wrapper .items-container  .block-up-1 .block-head h4,
.wrapper .items-container .block-up-1 .block-head .sort .sort-1 .radio{
    display: none;
}
.wrapper .items-container .side-left{
    width: 50%!important;
    margin: unset!important;
    text-align: center;
    border-bottom: 1px solid gray;
}
.wrapper .items-container .side-left .product-filter{
    display: block;
    width: 100%!important;
    overflow: hidden;
}
.wrapper .items-container .block-up-1{
    display: block;
    position: relative;
    top: 0!important;
    width: 50%!important;
    text-align: center;
    overflow: hidden;
    background-color: white;
    padding: 13px;
    font-size: 20px!important;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.wrapper .items-container .block-up-1 .block-head .display{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
      background-color: rgb(53, 53, 53);
  background-color: rgba(56, 56, 56, 0.9);
  transition:0.5s;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1{
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 25%;
    width: 100%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 h5>i{
    display: none;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 h5{
    padding: 13px;
    border-bottom: 1px solid rgb(218, 218, 218);
    color: gray;
    text-align: start;
    text-transform: uppercase;
    font-size: 16px;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio{
    display: block;
    display: flex;
    padding: 10px;
    width: 100%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio .p{
    text-align: start;
    font-size: 16px;
    flex: 50%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio .p>.radio1{
    text-align: end;
    padding:5px ;
}

.wrapper .items-container .side-right{
    width: 100%!important;
    right: unset!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 0!important;
}
.wrapper .items-container .side-right .block-down .row{
    width: 50%;
    margin:0!important;
    height: 300px;
}
.wrapper .items-container .side-right .block-down .row .card-img{
    height: 220px;
}
.wrapper .items-container .side-right .block-down .row .description{
    height:90px;
}
  /* sub-product.html */
  .wrapper .body-part .s-product{
      display: flex;
      flex-flow: column!important;
  }
  .wrapper .body-part .s-product .row{
      width: 100%!important;
      position: relative!important;
      top: 0!important;
  }

  .wrapper .body-part .s-product .row .row1 .block1{
      display: none;
  }
  .wrapper .body-part .s-product .row .row1 .block2{
      width: 100%!important;
  }
  .wrapper .s-product .row .btn{
      bottom: 0!important;
      position: fixed;
      left: 0!important;
      margin: 0!important;
  }
  .wrapper .s-product .row .btn .btn1,
.wrapper .s-product .row .btn .btn2{
    margin: 0!important;
}
.wrapper .s-product .row .btn1 a button:hover,
.wrapper .s-product .row .btn2 a button:hover{
    box-shadow: 0!important;
}
.wrapper .body-part .s-product .p-info .price{
    height: 30px!important;
    margin: 0!important;
}
.wrapper .body-part .s-product .p-info .price .m-price{
    font-size: 30px!important;
    font-weight: 500!important;
}
.wrapper .body-part .s-product .tax{
    margin-top: 5px!important;
}
.wrapper .body-part .s-product .tax>table{
    width: 100%!important;
    margin-top: 10px!important;
}
.wrapper .body-part .s-product .des>p,
.wrapper .body-part .s-product .offer ul li p>span{
    color: gray!important;
}
.wrapper .body-part .s-down-container .block{
    min-height:640px;
    max-height:900px!important;
}
.wrapper .body-part .s-down-container .block .block2 h3{
    width: 70%!important;
    font-size: 20px!important;
}
.wrapper .body-part .s-down-container .block .block2 .block-1-btn{
    margin-left: 75%!important;
}
.wrapper .body-part .s-down-container .block .block-2{
    width: 100%!important;
    flex-wrap: wrap!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row{
    width: 50%!important;
    border: 1px solid rgb(237, 235, 235);

}
.wrapper .body-part .s-down-container .block .block-2 .row a>.b-img{
    height: 120px!important;
    width: 100%!important;
}

/* cart */
.wrapper .main-body>.section1,
.wrapper .main-body>.section2{
    display: none;
}
.wrapper .main-body .mobile-view{
    display: block;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #143763;
    color: white;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back{
    width: 10%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back a{
    text-decoration: none;
    padding: 15px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back a i{
    padding: 15px 7px;
    color: white;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name h3{
    padding: 15px;
    font-size: 17px ;
    font-weight: normal;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name h3>span{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1{
    height: 66px;
    background-color: white;
    margin-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1{
    display: flex;
    padding: 17px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis11{
    display: flex;
    width: 75%;
    font-size: 14px;
    height: 17px;
    padding-top: 7px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis11 .dis-01{
    margin-left: 5px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis-02{
    margin-left: 16px;
    border: 1px solid gainsboro;
    text-align: center;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis-02 .change{
    padding: 9px 15px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: blue;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .dis2{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle{    
    display: flex;
    background-color: white;
    margin-bottom: 5px;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022{
    display: flex;
    width: 100%;
}    
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221{
    width: 75%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc>a{
    width: 25%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc a>.img{
    padding-left:15px ;
    padding-right: 15px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    letter-spacing: 0.5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221 .dis-0222{
    font-size: 12px;
    color: grey;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price{
    display: flex;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1{
    width: 66%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.ac{
    letter-spacing: 0.7px;
    font-size: 18px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.mac{
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
    padding-left: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.perc{
    color: rgb(38, 165, 65);
    font-size: 14px;
    padding-left: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1 .perc b{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-weight: 500;
    font-size:14px ;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2{
    width: 27%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21{
    display: flex;
    padding: 4px 15px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    align-items: center;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 .qty{
    letter-spacing: 0.5px;
    font-size: 14px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 .num{
    font-size: 14px;
    padding-left: 2px;
    padding-right: 3px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 div{
    padding-left:8px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 div>i{
    padding-bottom:7px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns{
    width: 100%;
    margin-top: 15px;
    
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .save-later,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .remove{
    width: 50%;
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(251 242 242);
    font-size: 14px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .save-later>i,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .remove>i{
    margin-right: 5px;
    color: rgb(169, 164, 164);
}


.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price22,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price23{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns{
    display: flex;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date{
    width: 100%;
    padding-top: 10px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli{
    margin-left: 15px;
    margin-right: 15px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli .deli1{
    display: flex;
    font-size: 13px;
    letter-spacing: 0.1px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli .deli1 p{
    margin-left: 3px;
    margin-right: 3px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .applied,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .available{
    display: flex;
    font-size: 13px;
    color: rgb(38, 165, 65);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers span{
    color: rgb(38, 165, 65);
    margin-right: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .applied p,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .available p{
    margin-left: 2px;
    margin-right: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down{
    height: 64px;
    bottom: 0;
    background-color: white;
    position: fixed;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231>.c-d-form{
    padding:5px;
    display: flex;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount{
    width: 60%;    
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount div>.t-price{
    font-size: 24px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount>a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form>button{
    margin: 5px;
    width: 40%;
    padding: 5px 25px;
    background-color: rgb(255, 88, 0);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form button>span{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-2{
    width: 100%;
    background-color: white;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 {
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .c-head{
    width: 100%;
    height: 47px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .c-head>span{
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    color: rgb(165, 159, 159);
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money{
    width: 100%;
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery{
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 3px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price .item,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery .delivery1{
    width: 80%;
    letter-spacing: 0.1px;
    font-size: 14px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price>span,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery>span{
    width: 20%;
    text-align: end;
    letter-spacing: 0.5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total{
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 100%;
    padding:5px ;
    border-bottom: 1px solid gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount{
    width: 80%;
    letter-spacing: 0.1px;
    font-size: 16px;
    padding-bottom: 10px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount .t-amount{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount1{
    width: 20%;
    text-align: end;
    letter-spacing: 0.5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount1 span{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-size: 18px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save{
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save .m-save1{
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
    color: rgb(38, 165, 65);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    letter-spacing: 0.1px;
    font-size: 14px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save .m-save1 p{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    padding-right: 2px;
    padding-left: 2px;
}

}

@media only screen and (min-width:280px) and (max-width: 340px){
  /* header */
  .wrapper .header .header-up .container .mb-view{
      display: block;
      color: aliceblue;
      position: relative;
      float: left;
      margin-left: 2px;
      padding:2px;
      top: 0.5rem;
  }
  .wrapper .header .header-up .container .mb-view>a{
      display: none;
  }
  .wrapper .header .header-up .container .mb-view>span{
    display: none;
  }
  .wrapper .header .header-up .container .mb-view>a{
      display: block;
      color: aliceblue;
  }
  .wrapper .header .header-up .container .logo{
      text-align: center;
      left: 0;
      top: 0.3rem;
  }
  .wrapper .header .header-up .container .logo img{
      height: 15px!important;
      margin-left: 5px!important;
  }
  .wrapper .header .header-up .container .headersearch{
      position: relative;
      width:90%;
      left: 0;
      right: 0;
      margin-left: 5%;
      bottom: 0;
      margin-bottom: -3px;
  }
  .wrapper .header .header-up .container .headersearch form .search .search-category{
      display: none;
  }
  .wrapper .header .header-up .container .headersearch form .search .form-control{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      width: 80%!important;
      height: 28px;
  }
  .wrapper .header .header-up .container .header-left{
      position: absolute;
      width: 50%;
      left: 50%;
      top:-9px;
  }
  .wrapper .header .header-up .container .header-left .header-c-s{
      position: relative;
      float: left;
      margin-left: 90px;
  }
  .wrapper .header .header-up .container .header-left .header-c-s .btn-warn{
      padding: 3px;
      background-color: #143763;
      color: white;
      font-size: 10px;
      top:-4px;
  }
  .wrapper .header .header-up .container .header-left .cart{
      position: relative;
      float: left;
      margin-left: -90px;
      font-size: 10px;
  }
  .wrapper .header .header-up .container .header-left .cart a>span{
      display: none;
  }
  .wrapper .header .header-down{
      display: none;
  }
  /* sidebar */

  .wrapper .header .responsive{
      display: block;
      position: fixed;
      width: 60%;
      height: 100%;
      top: 0;
      overflow: visible!important;
      z-index: 3;
  }
  .wrapper .header-up .responsive{
      position: fixed;
  }
  .wrapper .header .responsive .container{
      padding-left: 2px;
      padding-right: 2px;
      width: 100%;
  }
  .wrapper .header .responsive .container .mega-menu{
      margin-top: 2rem;
      left: 0;
      right: 0;
  }
  .wrapper .header .responsive .container .mega-menu>li{
      padding: 5px 2px;
      width: 100%;
  }
  .wrapper .header .responsive .container .mega-menu>li>a{
      float: left;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn{
      display: block;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn>a{
      float: right;
      margin-right: 10px;
      color: black;
  }
  .wrapper .header .responsive .container .mega-menu>.close-btn>a>.fa{
      font-weight: bold;
      font-size: 20px;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu{
      border-bottom: 1px solid gainsboro;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu:hover,
  .wrapper .header .responsive .container .mega-menu>.sub-menu:focus{
      background-color: gainsboro;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu>a>.fa{
      display: none;
  }
  .wrapper .header .responsive .container .mega-menu .sub-menu #sub
  {
      display: none;
  }
  .wrapper .header .responsive .container .mega-menu>#con>a>i{
      display: block;
      float: right;
      margin-left: 3rem;
  }

  .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller{
      position: relative;
      background-color: gainsboro;
      margin-left:0;
      width: 100%;
  }
  .wrapper .header .responsive .container .mega-menu>.sub-menu>.submenu-seller>.row-list-seller>li>a{
      float: left;
      color: rgb(22, 22, 22);
  }

  /* main */
  .wrapper .owl-carousel{
      overflow: hidden!important;
      position: relative;
  }
  .wrapper .owl-carousel .item .img{
      height: 150px!important;
  }
  .owl-nav>button{
      display: none;
  }
  .wrapper .flex-box .flex-container{
      flex-direction: column;
  }
  .wrapper .down-container{
      margin-top: 50%;
  }
.wrapper .down-container .main-block .f-block{
  margin-top: 10px;
    width: 100%;
    height: 30%;
  }
  .wrapper .down-container .main-block .f-block .block-1-1>.block-1-btn,
  .wrapper .down-container .main-block .s-block .block2>.block-1-btn,
  .wrapper .down-container .main-block .t-block .block3>.block-1-btn{
      margin-left: 73%;
      padding: 4px 8px;
      font-size: 12px;
  }
  .wrapper .down-container .main-block .f-block .block-1-1>h3,
.wrapper .down-container .main-block .s-block .block2>h3,
.wrapper .down-container .main-block .t-block .block3>h3{
    font-size: 14px;
}
.wrapper .down-container .main-block .f-block,
  .wrapper .down-container .main-block .s-block,
  .wrapper .down-container .main-block .t-block{
      height: 40%;
  }
  .wrapper .down-container .main-block .s-block .block-2-1 a>.row,
  .wrapper .down-container .main-block .t-block .block-3-1 a>.row,
  .wrapper .down-container .main-block .f-block .block-1 a>.row {
      padding: 20px;
  }
  .wrapper .down-container .main-block .f-block .block-1 .row a>.top-img,
  .wrapper .down-container .main-block .s-block .block-2-1 .row a>.b-img,
  .wrapper .down-container .main-block .t-block .block-3-1 .row a>.b-img{
      padding-left: 0px;
      width: 100%;
  }
  .wrapper .down-container .main-block .f-block .block-1 .row a>h5,
.wrapper .down-container .main-block .s-block .block-2-1 .row a>h4,
.wrapper .down-container .main-block .t-block .block-3-1 .row a>h4 {
    font-size: 90%;
}
  .wrapper .down-container .main-block .f-block .block-1 .row a>p,
  .wrapper .down-container .main-block .s-block .block-2-1 .row a>p,
  .wrapper .down-container .main-block .t-block .block-3-1 .row a>p{
      font-size: 80%;
  }
  /* advortise */
  .wrapper .advo{
      display: none;
  }
  .wrapper .adv-1 .adv1-1>img{
      width: 265px;
      padding-left: 3px;
  }

   /* products.html */
   .wrapper .items-container .side-left .category,
   .wrapper .items-container .side-left .range,
   .wrapper .items-container .side-left .section{
      display: none;
   }
   .wrapper .items-container .side-right .block-up{
     display: none;
 }
 .wrapper .items-container  .block-up-1 .path,
 .wrapper .items-container  .block-up-1 .block-head h4,
 .wrapper .items-container .block-up-1 .block-head .sort .sort-1 .radio{
     display: none;
 }
 .wrapper .items-container .side-left{
     width: 50%!important;
     margin: unset!important;
     text-align: center;
     border-bottom: 1px solid gray;
 }
 .wrapper .items-container .side-left .product-filter{
     display: block;
     width: 100%!important;
     overflow: hidden;
 }
 .wrapper .items-container .block-up-1{
     display: block;
     position: relative;
     top: 0!important;
     width: 50%!important;
     text-align: center;
     overflow: hidden;
     background-color: white;
     padding: 13px;
     font-size: 20px!important;
     border-bottom: 1px solid rgb(218, 218, 218);
 }
 .wrapper .items-container .block-up-1 .block-head .display{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
      background-color: rgb(53, 53, 53);
  background-color: rgba(56, 56, 56, 0.9);
  transition:0.5s;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1{
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 25%;
    width: 100%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 h5>i{
    display: none;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 h5{
    padding: 13px;
    border-bottom: 1px solid rgb(218, 218, 218);
    color: gray;
    text-align: start;
    text-transform: uppercase;
    font-size: 16px;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio{
    display: block;
    display: flex;
    padding: 10px;
    width: 100%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio .p{
    text-align: start;
    font-size: 16px;
    flex: 50%;
}
.wrapper .items-container .block-up-1 .block-head .display .sort-1 .radio .p>.radio1{
    text-align: end;
    padding:5px ;
}
 .wrapper .items-container .side-right{
     width: 100%!important;
     right: unset!important;
     margin-left: 0!important;
     margin-right: 0!important;
     margin-top: 0!important;
 }
 .wrapper .items-container .side-right .block-down .row{
     width: 50%;
     margin:0!important;
     height: 300px;
 }
 .wrapper .items-container .side-right .block-down .row .card-img{
     height: 220px;
 }
 .wrapper .items-container .side-right .block-down .row .description{
     height:90px;
 }
  /* sub-product.html */
  .wrapper .body-part .s-product{
    display: flex;
    flex-flow: column!important;
}
.wrapper .body-part .s-product .row{
    width: 100%!important;
    position: relative!important;
    top: 0!important;
    height: 310px!important;
}

.wrapper .body-part .s-product .row .row1 .block1{
    display: none;
}
.wrapper .body-part .s-product .row .row1 .block2{
    width: 100%!important;
}
.wrapper .s-product .row .btn{
    bottom: 0!important;
    position: fixed;
    left: 0!important;
    margin: 0!important;
}
.wrapper .s-product .row .btn .btn1,
.wrapper .s-product .row .btn .btn2{
  margin: 0!important;
}
.wrapper .s-product .row .btn1 a button:hover,
.wrapper .s-product .row .btn2 a button:hover{
  box-shadow: 0!important;
}
.wrapper .body-part .s-product .p-info .price{
  height: 30px!important;
  margin: 0!important;
}
.wrapper .body-part .s-product .p-info .price .m-price{
  font-size: 30px!important;
  font-weight: 500!important;
}
.wrapper .body-part .s-product .tax{
  margin-top: 5px!important;
}
.wrapper .body-part .s-product .tax>table{
  width: 100%!important;
  margin-top: 10px!important;
}
.wrapper .body-part .s-product .des>p,
.wrapper .body-part .s-product .offer ul li p>span{
  color: gray!important;
  font-size: 13px!important;
}
.wrapper .body-part .s-product .spec .spec-table tr td{
    font-size: 13px!important;
}
.wrapper .body-part .s-down-container .block{
    min-height:670px;
    max-height:900px!important;
}
.wrapper .body-part .s-down-container .block .block2 h3{
    width: 70%!important;
    font-size: 18px!important;
}
.wrapper .body-part .s-down-container .block .block2 .block-1-btn{
    font-size: 14px!important;
    margin-left: 75%!important;
}
.wrapper .body-part .s-down-container .block .block-2{
    width: 100%!important;
    flex-wrap: wrap!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row{
    width: 50%!important;
    border: 1px solid rgb(237, 235, 235);
}
.wrapper .body-part .s-down-container .block .block-2 .row a>.b-img{
    height: 120px!important;
    width: 100%!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>h4{
    font-size: 14px!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>p{
    font-size: 16px;
    font-weight: 500;
    color: black!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>p>span{
    font-size: 14px;
    color: gray;
}
/* cart */
.wrapper .main-body>.section1,
.wrapper .main-body>.section2{
    display: none;
}
.wrapper .main-body .mobile-view{
    display: block;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name{
    display: flex;
    height: 45px;
    width: 100%;
    background-color: #143763;
    color: white;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back{
    width: 10%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back a{
    text-decoration: none;
    padding: 15px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name .back a i{
    padding: 15px 7px;
    color: white;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name h3{
    padding: 15px;
    font-size: 15px ;
    font-weight: normal;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-name h3>span{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1{
    height: 50px;
    background-color: white;
    margin-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1{
    display: flex;
    padding: 10px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis11{
    display: flex;
    width: 75%;
    font-size: 13px;
    height: 17px;
    padding-top: 7px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis11 .dis-01{
    margin-left: 5px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis-02{
    margin-left: 16px;
    border: 1px solid gainsboro;
    text-align: center;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .c-add1 .dis1 .dis-02 .change{
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: blue;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-up .c-address .c-add .dis2{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle{    
    display: flex;
    background-color: white;
    margin-bottom: 5px;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022{
    display: flex;
    width: 100%;
}    
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221{
    width: 75%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc>a{
    width: 25%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc a>.img{
    padding-left:5px ;
    padding-right: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221>a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    letter-spacing: 0.5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221 .dis-0222{
    font-size: 11px;
    color: grey;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price{
    display: flex;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1{
    width: 66%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.ac{
    letter-spacing: 0.7px;
    font-size: 16px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.mac{
    font-size: 12px;
    color: grey;
    text-decoration: line-through;
    padding-left: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1>.perc{
    color: rgb(38, 165, 65);
    font-size: 12px;
    padding-left: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price1 .perc b{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-weight: 500;
    font-size:14px ;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2{
    width: 27%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21{
    display: flex;
    padding:1px 10px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    align-items: center;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 .qty{
    letter-spacing: 0.5px;
    font-size: 12px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 .num{
    font-size: 12px;
    padding-left: 2px;
    padding-right: 3px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 div{
    padding-left:4px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price21 div>i{
    padding-bottom:7px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns{
    width: 100%;
    margin-top: 15px;
    
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .save-later,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .remove{
    width: 50%;
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(251 242 242);
    font-size: 12px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .save-later>i,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns .remove>i{
    margin-right: 5px;
    color: rgb(169, 164, 164);
}


.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price22,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .price .price2 .price23{
    display: none;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .dis-btns{
    display: flex;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date{
    width: 100%;
    padding-top: 10px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli{
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli .deli1{
    display: flex;
    font-size: 11px;
    letter-spacing: 0.1px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .del-date .deli .deli1 p{
    margin-left: 3px;
    margin-right: 3px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers{
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .applied,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .available{
    display: flex;
    font-size: 11px;
    color: rgb(38, 165, 65);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers span{
    color: rgb(38, 165, 65);
    margin-right: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .applied p,
.wrapper .main-body .mobile-view .section-1 .cart .cart-middle .dis-022 .dis-022-up .offers .offers1 .available p{
    margin-left: 2px;
    margin-right: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down{
    height: 50px;
    bottom: 0;
    background-color: white;
    position: fixed;
    width: 100%;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231>.c-d-form{
    padding:5px;
    display: flex;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount{
    width: 60%;    
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount div>.t-price{
    font-size: 18px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form .amount>a{
    text-decoration: none;
    color: blue;
    font-size: 13px;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form>button{
    margin: 7px;
    width: 40%;
    padding: 4px 25px;
    background-color: rgb(255, 88, 0);
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 2px;
}
.wrapper .main-body .mobile-view .section-1 .cart .cart-down .dis-023 .dis-0231 .c-d-form button>span{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-2{
    width: 100%;
    background-color: white;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 {
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .c-head{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .c-head>span{
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    color: rgb(165, 159, 159);
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money{
    width: 100%;
    padding: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery{
    display: flex;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price .item,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery .delivery1{
    width: 80%;
    letter-spacing: 0.1px;
    font-size: 12px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .price>span,
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .money-1 .delivery>span{
    width: 20%;
    text-align: end;
    letter-spacing: 0.5px;
    font-size: 12px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total{
    display: flex;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 100%;
    padding:5px ;
    border-bottom: 1px solid gainsboro;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount{
    width: 80%;
    letter-spacing: 0.1px;
    font-size: 15px;
    padding-bottom: 10px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount .t-amount{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount1{
    width: 20%;
    text-align: end;
    letter-spacing: 0.5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .total .amount1 span{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-size: 15px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save{
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save .m-save1{
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
    color: rgb(38, 165, 65);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    letter-spacing: 0.1px;
    font-size: 12px;
}
.wrapper .main-body .mobile-view .section-2 .cart-down0 .cart-down1 .money .m-save .m-save1 p{
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    padding-right: 2px;
    padding-left: 2px;

}






}