/* product */
.wrapper .items-container{
    transition: 0.5s;
}
.wrapper .items-container .side-left{
    position: relative;
    background-color: white;
    top: 0;
    margin: 5px;
    border-radius: 2px;
    width: 20%;
    float: left;
}
.wrapper .items-container .side-left .product-filter{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .product-filter>h3{
    padding: 12px;
    font-size: 19px;
    letter-spacing: 0.2px;
}
.wrapper .items-container .side-left .category{
    border-bottom: 1px solid gainsboro;
    margin-left: 10px;
}
.wrapper .items-container .side-left .category .cat-head{
    padding: 5px;
}
.wrapper .items-container .side-left .category .cat-head span{
    font-size: 12px;
}
.wrapper .items-container .side-left .category .cat-body{
    padding:2px
}
.wrapper .items-container .side-left .category .cat-body li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(79, 78, 78);
    padding: 3px;
    font-weight: 550;
}
.wrapper .items-container .side-left .range{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .range p{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.wrapper .items-container .side-left .section{
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    width: 100%;
}
.wrapper .items-container .side-left .section .dropdown{
    padding-left: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn i::after{
    content: "+";
    float: right;
    margin-right: 10px;
    font-weight: bolder;
}
.wrapper .items-container .side-left .section .expand .dropbtn i::after{
    content: "-";
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content{
    width: 95%;
    padding: 5px;
    margin-top: 3px;
    height: 150px;
    display: none;
}
.wrapper .items-container .side-left .section .expand .dropdown-content{
    display: block;
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label{
    float: left;
    width: 100%;
    padding: 2px;

}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.brand,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.rating,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.discount{
    margin-right: 5px;
}
.wrapper .items-container .block-up-1{
    display: none;
}
.wrapper .items-container .side-right{
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20.7%;
    border-radius: 2px;
    width: 78.9%;
}
.wrapper .items-container .side-right .block-up{
    border-bottom: 1px solid gainsboro;
    height: 85px;
}
.wrapper .items-container .side-right .block-up .path{
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .path span{
    color: grey;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-up .path i{
    color: grey;
}
.wrapper .items-container .side-right .block-up .block-head h4{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 h5{
    font-size: 16px;
    padding-right:10px ;
    float: left;
    margin-bottom: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    float: left;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    padding-right:10px;
    font-size: 14px;
    margin-top: 2px;
}
.wrapper .items-container .side-right .block-down{
    padding: 5px;
}
.wrapper .items-container .side-right .block-down .row{
    position: relative;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01);
    transition: 0.3s;
    border-radius: 5px;
    height: 350px;
    float: left;
    margin:2px;
}
.wrapper .items-container .side-right .block-down .row:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.wrapper .items-container .side-right .block-down .row a>.fa{
    color: black;
    opacity: 0.2;
    position: absolute;
    padding: 5px;
    margin-left: 80%;
}
.wrapper .items-container .side-right .block-down .row a>.fa:hover{
    opacity: 0.5;
}
.wrapper .items-container .side-right .block-down .row a{
    text-decoration: none;
}
.wrapper .items-container .side-right .block-down .row .card-img{
    height: 280px;
    width: 100%;
    padding: 15px;
}
.wrapper .items-container .side-right .block-down .row .description{
    position: absolute;
    background-color:white;
    transition: 0.3s;
    width: 96%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 1px;
    overflow: hidden;
}
.wrapper .items-container .side-right .block-down .row:hover .description{
    height: 100px;
}
.wrapper .items-container .side-right .block-down .row:hover .description>h5{
    font-size: 14px;
    font-weight: 500;
}
.wrapper .items-container .side-right .block-down .row:hover .description h5,
.wrapper .items-container .side-right .block-down .row:hover .description>.ac{
    color: rgb(77, 77, 228);
    font-size: 14px;
    font-weight: 600;
}
.wrapper .items-container .side-right .block-down .row .description p>.ac-price{
    text-decoration: line-through;
    color: rgb(77, 73, 73);
    font-size: 15px;
    font-weight: lighter;
}
.wrapper .items-container .side-right .block-down .row .description h5{
    color: rgb(82, 82, 82);
    font-size: 16px;
    padding: 3px;
}
.wrapper .items-container .side-right .block-down .row .description>.ac{
    font-size: 17px;
    font-weight: bold;
}
.wrapper .items-container .side-right .block-down .row .description p{
    color: black;
    font-size: 15px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-down .row .description .extra-info>p{
    font-size: 15px;
    text-transform: capitalize;
}
.wrapper .items-container .block-up-1 .block-head .display{
    display: none;
}

/* sub-product */

.wrapper .body-part{
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid rgb(235, 227, 227);
}
.wrapper .body-part .s-product{
    background-color: white;
    display: flex;
    flex-flow: row;
}
.wrapper .body-part .s-product .row{
    flex-flow: column;
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    width: 41.66% ;
    padding: 5px;
    height:452px;
}
.wrapper .body-part .s-product .row .row1{
    display: flex;
}
.wrapper .body-part .s-product .row .row1 .block1{
    height:384px;
    width: 64px;
    flex-flow: row;
}
.wrapper .body-part .s-product .row .row1 .block1 .colum>img{
    width: 100%;
    height: 60px;
}
.wrapper .s-product .row .row1 .block2{
    width:356.797px;
    display: flex;
    flex-flow: row;
}
.wrapper .s-product .row .row1 .block1 .colum{
    flex-flow: row;
}
.wrapper .s-product .row .row1 .block2 .colum>img{
    width:100%;
}
.wrapper .s-product .row .btn{
    display: flex;
    width: 100%;
}
.wrapper .s-product .row .btn .btn1,
.wrapper .s-product .row .btn .btn2{
    width: 50%;
    height:56px;
    margin:5px ;
}
.wrapper .s-product .row .btn .btn1 a button{
    border: none;
    background-color: #ff9f00;
    color: white;
    height:56px;
    width: 100%;
    border-radius: 2px;
}
.wrapper .s-product .row .btn .btn2 a button{
    border: none;
    background-color:#fb641b;
    color: white;
    height:56px;
    width: 100%;
    border-radius: 2px;

}
.wrapper .s-product .row .btn .btn1 a button i,
.wrapper .s-product .row .btn .btn1 a button i{
    margin-right: 5px;
}
.wrapper .s-product .row .btn1 a button:hover,
.wrapper .s-product .row .btn2 a button:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.wrapper .body-part .s-product .p-info{ 
    top: 0;
    position: relative;   
    padding: 10px;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 0;
    height: auto;
}

.wrapper .body-part .s-product .p-info h3{
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    color: black;
    padding: 5px;
    font-weight: normal;
}
.wrapper  .body-part .s-product .p-info .rating{
    width: 100%;
}
.wrapper .body-part .s-product .p-info .rating .rate{
    width: 50px;
    padding: 2px;
    overflow: hidden;
}
.wrapper .body-part .s-product .p-info .rating .rate>.star{
    padding: 5px;
    background-color: rgb(11, 145, 11);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
}
.wrapper .body-part .s-product .p-info .price{
    position: relative;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper .body-part .s-product .p-info .price .m-price{
    margin-top: 5px;
    float: left;
    color: black;
    font-size: 20px;
    font-weight: 550;
}
.wrapper .body-part .s-product .p-info .price .m-price>span{
    margin-left: 5px;
    color: gray;
    font-size: 17px;
    font-weight: normal;
    text-decoration: line-through;
}
.wrapper .body-part .s-product .p-info .price .off{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 550;
    color: #388e3c;
}
.wrapper .body-part .s-product .tax{
    position: relative;
    padding: 5px;
    width: 100%;
}
.wrapper .body-part .s-product .tax>table{
    padding: 2px;
    width: 50%;
    font-size: 15px;
}
.wrapper .body-part .s-product .tax table tr{
    padding: 10px;
}
.wrapper .body-part .s-product .tax table tr td{
    padding: 3px;
}
.wrapper .body-part .s-product .des{
    padding: 5px;
}
.wrapper .body-part .s-product .des>h4{
    padding: 5px;
    font-style: 14px;
    font-weight: 600;
}
.wrapper .body-part .s-product .des>p{
    padding: 2px;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 20px;
}
.wrapper .body-part .s-product .offer{
    position: relative;
    width: 100%;
}
.wrapper .body-part .s-product .offer h4{
    font-size: 15px;
    padding: 5px;
}
.wrapper .body-part .s-product .offer ul li{
    padding: 3px;
    list-style: none;
}
.wrapper .body-part .s-product .offer ul li i{
    float: left;
    padding:5px ;
    color: rgb(61, 175, 61);
}
.wrapper .body-part .s-product .offer ul li p{
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.wrapper .body-part .s-product .offer ul li p>span{
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.wrapper .body-part .s-product .spec{
    padding: 5px;
    width: 100%;
    margin-top: 15px;
}
.wrapper .body-part .s-product .spec .spec-table{
    width: 100%;
    border-collapse: collapse;
}
.wrapper .body-part .s-product .spec .spec-table td,
.wrapper .s-product .spec .spec-table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.wrapper .body-part .s-product .spec .spec-table .head>th{
    width: 100%;
}
.wrapper .body-part .s-product .spec .spec-table .head>th>h3{
    text-align: start;
    font-size: 20px;
    color: black;
}
.wrapper .body-part .s-product .spec .spec-table tr td{
    font-size: 15px;
    padding-left: 10px;
}
.wrapper .body-part .s-down-container{
    position: relative;
}
.wrapper .body-part .s-down-container .block{
    position: relative;
    height: 300px;
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.wrapper .body-part .s-down-container .block .block2{
    display: flex;
    position: relative;
    min-height: 60px;
    width: 100%;
}
.wrapper .body-part .s-down-container .block .block2 h3{
    position: absolute;
    width: 50%;
    font-size: x-large;
    font-weight: 700;
    padding: 15px;
    flex-flow: row;
}
.wrapper .body-part .s-down-container .block .block2{
    border-bottom: 1px solid #ddd;
}
.wrapper .body-part .s-down-container .block .block2 .block-1-btn{
    position: absolute;
    top: 0;
    margin-top: 0.7rem;
    text-decoration: none;
    padding: 7px 9px;
    background-color: rgb(60, 153, 207);
    color: white;
    border-radius: 2px;
    margin-left: 90%;
    flex-flow: row;
}
.wrapper .body-part .s-down-container .block .block-2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wrapper .body-part .s-down-container .block .block-2>.row{
    flex-flow: row;
    width: 20%;
}
.wrapper .body-part .s-down-container .block .block-2 .row a{
    text-decoration: none;
    width: 100%;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>.b-img{
    height: 150px;
    width: 100%;
      transition: 0.2s;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>.b-img:hover,
.wrapper .body-part .s-down-container .block .block-2 .row a>.b-img:focus{
    transform: scale(1.1); 
}

.wrapper .body-part .s-down-container .block .block-2 .row a>h4{
    font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: rgb(61, 56, 56);
      text-transform: capitalize!important;
}
.wrapper .body-part .s-down-container .block .block-2 .row a>p{
    color: gray;
      text-align: center;
      margin-top: 0.5rem;
}
.wrapper .body-part .s-down-container .block .block-2 .row a p>span{
    text-decoration: line-through;
    padding: 5px;
}
.wrapper .body-part .s-down-container .block .block-2 .row{
padding: 10px;
}

/* cart.html */
.wrapper .main-body .mobile-view{
    display: none;
}
.wrapper .main-body{
    width: 100%;
    display: flex;
}
.wrapper .main-body .section1,
.wrapper .main-body .section2{
    flex-flow: row;
    background-color: white;
    margin-top:15px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.1);
    flex-wrap: wrap;
}
.wrapper .main-body .section1{
    margin-left: 50px;
    width: 900px;
    margin-right: 10px;
}
.wrapper .main-body .section1 .cart{
    display: flex;
    flex-flow:column;
}
.wrapper .main-body .section1 .cart .cart-up{
    display: flex;
    border-bottom: 1px solid gainsboro;
    height: 56px;
}
.wrapper .main-body .section1 .cart .cart-up .c-name{
    height: 100%;
    width: 25%;
}
.wrapper .main-body .section1 .cart .cart-up .c-name h3{
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;
}
.wrapper .main-body .section1 .cart .cart-up .c-address{
    width: 75%;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1{
    display: flex;
    width: 450px;
    float: right;
    margin-top: 5px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis2 .dis-021{
    display: flex;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-del{
    width: 30%;
    margin-top: 10px;
    margin-left: 35px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-del>.img{
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-del span{
    font-weight: 500;
    color: #878787;
    font-size: 13px;
    font-weight: 600;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1{
    flex-flow: row;
    width: 298px;
    height: 45px;
    margin-right: 10px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1{
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1 .dis-01{
    width: 90%;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1 .dis-01 span{
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1 i{
    margin-left: 18px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .c-add1 .dis1{
    display: flex;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis1 .desi-01{
 padding: 13px 140px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0021,
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 {
    flex-flow: row;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2{
    margin-top: 0;
    top: 0;
    height: 220px;
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
    display: none;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .view .dis2{
    display: block;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021{
    display: flex;
    margin-left:5px ;
    margin-bottom: 5px;
    margin-right: 5px;
    height:60%;
    width: 100%;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0021{
    margin-top: 30px;
    height: 100px;
    width: 25%;
    align-items: center;
    margin-left: 20px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 30px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 .dis-00221{
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 15px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 .dis-00222 {
    margin-top: 5px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-021 .dis-0022 .dis-00222 a{
    font-weight: 600;
    text-decoration: none;
    color: blue;
    font-size: 14px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022{
    width: 100%;
    height: 40%;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023{
    margin-left: 20px;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023 input[type=text]{
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid blue;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023 input::placeholder{
    color: gray;
    font-weight: 600;
    text-align: start;
}
.wrapper .main-body .section1 .cart .cart-up .c-address .c-address1 .c-add .dis2 .dis-022 .dis-0023 span{
    position: absolute;
    margin-top: 15px;
    margin-left: -50px;
    color: blue;
    font-weight: 600;
}
.wrapper .main-body .section1 .cart .cart-middle{
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022{
    padding: 24px;
    position: relative;
    max-width: 950px;
    overflow: hidden;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up{
    display: flex;
    overflow: hidden;
} 
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up a{
    width: 112px;
    height: 142px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up a>.img{
    height: 112px;
    width: 112px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up a .img>img{
   width: 56px;
   height: 100%;
   margin-left: 28px;
   margin-right: 28px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc{
    flex-flow: row;
    padding: 0 24px 12px;
    vertical-align: top;
    min-height: 112px;
    overflow: hidden;
    max-width: 460px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0221 a{
    font-size: 16px;
    color: #212121;
    line-height: 1;
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .dis-0222{
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
    margin-top: 8px;
    overflow: hidden;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .ac{
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    display: inline-block;
    margin-right: 8px;
    margin-top: 18px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .mac{
    display: inline-block;
    margin-right: 8px;
    margin-top: 18px;
    color: #878787;
    text-decoration: line-through;
    font-size: 16px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-up .dis-desc .perc{
    font-weight: 600;
    color: #388e3c;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down{
    display: flex;
    padding-top: 10px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02201{
    width: 132px;
    text-align: center;
    display: inline-block;
    color: #212121;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02201 .dis-btn{
    color: #c2c2c2;
    cursor: auto;
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02201 .dis-input{
    display: inline-block;
    padding: 3px 6px;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02201 .dis-input .input{
    border: none;
    height:100%;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202,
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02201{
    flex-flow: row;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202{
    padding-left: 24px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202 .save-later{
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 25px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202 .remove{
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 25px;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202{
    display: flex;
}
.wrapper .main-body .section1 .cart .cart-middle .dis-022 .dis-022-down .dis-02202 .save-later{
    flex-flow: row;
}
.wrapper .main-body .section1 .cart .cart-down{
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    align-self: flex-start;
    width:100%;
    height: 84px;
}
.wrapper .main-body .section1 .cart .cart-down .dis-023{
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1);
    height: 84px;
}
.wrapper .main-body .section1 .cart .cart-down .dis-023 form{
    height: 51px;
}
.wrapper .main-body .section1 .cart .cart-down .dis-023 form button{
    float: right;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    padding: 16px 30px;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}
.wrapper .main-body .section2{
    margin-right: 50px;
    width: 400px;
    margin-left: 10px;
    height: 250px;
}
.wrapper .main-body .section2 .cart-down0{
    height: 100%;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1>span{
    display: block;
    text-transform: uppercase;
    padding: 15px 24px;
    font-weight: 600;
    color: #878787;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid gainsboro;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money{
    padding: 0 24px;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .price,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .delivery,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total{  
    height: 20px;
    display: flex;
    margin: 20px 0;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .price .item,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .delivery .delivery1 ,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount {
    width: 70%;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .price span,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .delivery span,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount1{
    width: 30%;
    text-align: end;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .delivery{
    height: 40px;
    margin-bottom:20px;
    border-bottom: 1px dashed rgb(184, 181, 181);
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount ,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .total .amount1 {
    font-weight: 600;
    font-size: 18px;
}
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .price,
.wrapper .main-body .section2 .cart-down0 .cart-down1 .money .delivery{
    color: #a39d9d;
}
