/* product */
.wrapper .items-container{
    transition: 0.5s;
}
.wrapper .items-container .side-left{
    position: relative;
    background-color: white;
    top: 0;
    margin: 5px;
    border-radius: 2px;
    width: 20%;
    float: left;
}
.wrapper .items-container .side-left .product-filter{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .product-filter>h3{
    padding: 12px;
    font-size: 19px;
    letter-spacing: 0.2px;
}
.wrapper .items-container .side-left .category{
    border-bottom: 1px solid gainsboro;
    margin-left: 10px;
}
.wrapper .items-container .side-left .category .cat-head{
    padding: 5px;
}
.wrapper .items-container .side-left .category .cat-head span{
    font-size: 12px;
}
.wrapper .items-container .side-left .category .cat-body{
    padding:2px
}
.wrapper .items-container .side-left .category .cat-body li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(79, 78, 78);
    padding: 3px;
    font-weight: 550;
}
.wrapper .items-container .side-left .range{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .range p{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.wrapper .items-container .side-left .section{
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    width: 100%;
}
.wrapper .items-container .side-left .section .dropdown{
    padding-left: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn i::after{
    content: "+";
    float: right;
    margin-right: 10px;
    font-weight: bolder;
}
.wrapper .items-container .side-left .section .expand .dropbtn i::after{
    content: "-";
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content{
    width: 95%;
    padding: 5px;
    margin-top: 3px;
    height: 150px;
    display: none;
}
.wrapper .items-container .side-left .section .expand .dropdown-content{
    display: block;
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label{
    float: left;
    width: 100%;
    padding: 2px;

}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.brand,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.rating,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.discount{
    margin-right: 5px;
}
.wrapper .items-container .block-up-1{
    display: none;
}
.wrapper .items-container .side-right{
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20.7%;
    border-radius: 2px;
    width: 78.9%;
}
.wrapper .items-container .side-right .block-up{
    border-bottom: 1px solid gainsboro;
    height: 85px;
}
.wrapper .items-container .side-right .block-up .path{
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .path span{
    color: grey;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-up .path i{
    color: grey;
}
.wrapper .items-container .side-right .block-up .block-head h4{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 h5{
    font-size: 16px;
    padding-right:10px ;
    float: left;
    margin-bottom: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    float: left;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    padding-right:10px;
    font-size: 14px;
    margin-top: 2px;
}
.wrapper .items-container .side-right .block-down{
    padding: 5px;
}
.wrapper .items-container .side-right .block-down .row{
    position: relative;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01);
    transition: 0.3s;
    border-radius: 5px;
    height: 350px;
    float: left;
    margin:2px;
}
.wrapper .items-container .side-right .block-down .row:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.wrapper .items-container .side-right .block-down .row a>.fa{
    color: black;
    opacity: 0.2;
    position: absolute;
    padding: 5px;
    margin-left: 80%;
}
.wrapper .items-container .side-right .block-down .row a>.fa:hover{
    opacity: 0.5;
}
.wrapper .items-container .side-right .block-down .row a{
    text-decoration: none;
}
.wrapper .items-container .side-right .block-down .row .card-img{
    height: 280px;
    width: 100%;
    padding: 15px;
}
.wrapper .items-container .side-right .block-down .row .description{
    position: absolute;
    background-color:white;
    transition: 0.3s;
    width: 96%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 1px;
    overflow: hidden;
}
.wrapper .items-container .side-right .block-down .row:hover .description{
    height: 100px;
}
.wrapper .items-container .side-right .block-down .row:hover .description>h5{
    font-size: 14px;
    font-weight: 500;
}
.wrapper .items-container .side-right .block-down .row:hover .description h5,
.wrapper .items-container .side-right .block-down .row:hover .description>.ac{
    color: rgb(77, 77, 228);
    font-size: 14px;
    font-weight: 600;
}
.wrapper .items-container .side-right .block-down .row .description p>.ac-price{
    text-decoration: line-through;
    color: rgb(77, 73, 73);
    font-size: 15px;
    font-weight: lighter;
}
.wrapper .items-container .side-right .block-down .row .description h5{
    color: rgb(82, 82, 82);
    font-size: 16px;
    padding: 3px;
}
.wrapper .items-container .side-right .block-down .row .description>.ac{
    font-size: 17px;
    font-weight: bold;
}
.wrapper .items-container .side-right .block-down .row .description p{
    color: black;
    font-size: 15px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-down .row .description .extra-info>p{
    font-size: 15px;
    text-transform: capitalize;
}

/* sub-product */

.wrapper .body-part{
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid rgb(235, 227, 227);
}
.wrapper .body-part .s-product{
    background-color: white;
    display: flex;
    flex-flow: row;
}
.wrapper .body-part .s-product .row{
    flex-flow: column;
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    width: 41.66% ;
    padding: 5px;
    height:452px;
}
.wrapper .body-part .s-product .row .row1{
    display: flex;
}
.wrapper .body-part .s-product .row .row1 .block1{
    height:384px;
    width: 64px;
    flex-flow: row;
}
.wrapper .body-part .s-product .row .row1 .block1 .colum>img{
    width: 100%;
    height: 60px;
}
.wrapper .s-product .row .row1 .block2{
    width:356.797px;
    display: flex;
    flex-flow: row;
}
.wrapper .s-product .row .row1 .block1 .colum{
    flex-flow: row;
}
.wrapper .s-product .row .row1 .block2 .colum>img{
    width:100%;
}
.wrapper .s-product .row .btn{
    display: flex;
    width: 100%;
}
.wrapper .s-product .row .btn .btn1,
.wrapper .s-product .row .btn .btn2{
    width: 50%;
    height:56px;
    margin:5px ;
}
.wrapper .s-product .row .btn .btn1 a button{
    border: none;
    background-color: #ff9f00;
    color: white;
    height:56px;
    width: 100%;
    border-radius: 2px;
}
.wrapper .s-product .row .btn .btn2 a button{
    border: none;
    background-color:#fb641b;
    color: white;
    height:56px;
    width: 100%;
    border-radius: 2px;

}
.wrapper .s-product .row .btn .btn1 a button i,
.wrapper .s-product .row .btn .btn1 a button i{
    margin-right: 5px;
}
.wrapper .s-product .row .btn1 a button:hover,
.wrapper .s-product .row .btn2 a button:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.wrapper .body-part .s-product .p-info{ 
    top: 0;
    position: relative;   
    padding: 10px;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 0;
    height: auto;
}

.wrapper .body-part .s-product .p-info h3{
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    color: black;
    padding: 5px;
    font-weight: normal;
}
.wrapper  .body-part .s-product .p-info .rating{
    width: 100%;
}
.wrapper .body-part .s-product .p-info .rating .rate{
    width: 50px;
    padding: 2px;
    overflow: hidden;
}
.wrapper .body-part .s-product .p-info .rating .rate>.star{
    padding: 5px;
    background-color: rgb(11, 145, 11);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
}
.wrapper .body-part .s-product .p-info .price{
    position: relative;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper .body-part .s-product .p-info .price .m-price{
    margin-top: 5px;
    float: left;
    color: black;
    font-size: 20px;
    font-weight: 550;
}
.wrapper .body-part .s-product .p-info .price .m-price>span{
    margin-left: 5px;
    color: gray;
    font-size: 17px;
    font-weight: normal;
    text-decoration: line-through;
}
.wrapper .body-part .s-product .p-info .price .off{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 550;
    color: #388e3c;
}
.wrapper .body-part .s-product .tax{
    position: relative;
    padding: 5px;
    width: 100%;
}
.wrapper .body-part .s-product .tax>table{
    padding: 2px;
    width: 50%;
    font-size: 15px;
}
.wrapper .body-part .s-product .tax table tr{
    padding: 10px;
}
.wrapper .body-part .s-product .tax table tr td{
    padding: 3px;
}
.wrapper .body-part .s-product .des{
    padding: 5px;
}
.wrapper .body-part .s-product .des>h4{
    padding: 5px;
    font-style: 14px;
    font-weight: 600;
}
.wrapper .body-part .s-product .des>p{
    padding: 2px;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 20px;
}
.wrapper .body-part .s-product .offer{
    position: relative;
    width: 100%;
}
.wrapper .body-part .s-product .offer h4{
    font-size: 15px;
    padding: 5px;
}
.wrapper .body-part .s-product .offer ul li{
    padding: 3px;
    list-style: none;
}
.wrapper .body-part .s-product .offer ul li i{
    float: left;
    padding:5px ;
    color: rgb(61, 175, 61);
}
.wrapper .body-part .s-product .offer ul li p{
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.wrapper .body-part .s-product .offer ul li p>span{
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.wrapper .body-part .s-product .spec{
    padding: 5px;
    width: 100%;
    margin-top: 15px;
}
.wrapper .body-part .s-product .spec .spec-table{
    width: 100%;
    border-collapse: collapse;
}
.wrapper .body-part .s-product .spec .spec-table td,
.wrapper .s-product .spec .spec-table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.wrapper .body-part .s-product .spec .spec-table .head>th{
    width: 100%;
}
.wrapper .body-part .s-product .spec .spec-table .head>th>h3{
    text-align: start;
    font-size: 20px;
    color: black;
}
.wrapper .body-part .s-product .spec .spec-table tr td{
    font-size: 15px;
    padding-left: 10px;
}
.wrapper .body-part .s-down-container{
    position: relative;
}
.wrapper .body-part .s-down-container .s-block{
    position: relative;
    height: 300px;
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.wrapper .body-part .s-down-container .s-block .block2{
    display: flex;
    position: relative;
    min-height: 60px;
    width: 100%;
}
.wrapper .body-part .s-down-container .s-block .block2 h3{
    position: absolute;
    width: 50%;
    font-size: x-large;
    font-weight: 700;
    padding: 15px;
    flex-flow: row;
}
.wrapper .body-part .s-down-container .s-block .block2{
    border-bottom: 1px solid #ddd;
}
.wrapper .body-part .s-down-container .s-block .block2 .block-1-btn{
    position: absolute;
    top: 0;
    margin-top: 0.7rem;
    text-decoration: none;
    padding: 7px 9px;
    background-color: rgb(60, 153, 207);
    color: white;
    border-radius: 2px;
    margin-left: 90%;
    flex-flow: row;
}
.wrapper .body-part .s-down-container .s-block .block-2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row{
    flex-flow: row;
    width: 30%;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row a{
    text-decoration: none;
    width: 100%;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row a>.b-img{
    height: 150px;
    width: 100%;
      transition: 0.2s;
      padding-left: 30px;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row a>.b-img:hover,
.wrapper .body-part .s-down-container .s-block .block-2 .row a>.b-img:focus{
    transform: scale(1.1); 
}

.wrapper .body-part .s-down-container .s-block .block-2 .row a>h4{
    font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: rgb(61, 56, 56);
      text-transform: capitalize!important;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row a>p{
    color: gray;
      text-align: center;
      margin-top: 0.5rem;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row a p>span{
    text-decoration: line-through;
    padding: 5px;
}
.wrapper .body-part .s-down-container .s-block .block-2 .row{
padding: 10px;
}