/* product */
.wrapper .items-container .side-left{
    position: relative;
    background-color: white;
    top: 0;
    margin: 5px;
    border-radius: 2px;
    width: 20%;
    float: left;
}
.wrapper .items-container .side-left .product-filter{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .product-filter>h3{
    padding: 12px;
    font-size: 19px;
    letter-spacing: 0.2px;
}
.wrapper .items-container .side-left .category{
    border-bottom: 1px solid gainsboro;
    margin-left: 10px;
}
.wrapper .items-container .side-left .category .cat-head{
    padding: 5px;
}
.wrapper .items-container .side-left .category .cat-head span{
    font-size: 12px;
}
.wrapper .items-container .side-left .category .cat-body{
    padding:2px
}
.wrapper .items-container .side-left .category .cat-body li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(79, 78, 78);
    padding: 3px;
    font-weight: 550;
}
.wrapper .items-container .side-left .range{
    border-bottom: 1px solid gainsboro;
}
.wrapper .items-container .side-left .range p{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.wrapper .items-container .side-left .section{
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    width: 100%;
}
.wrapper .items-container .side-left .section .dropdown{
    padding-left: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.wrapper .items-container .side-left .section .dropdown .dropbtn i::after{
    content: "+";
    float: right;
    margin-right: 10px;
    font-weight: bolder;
}
.wrapper .items-container .side-left .section .expand .dropbtn i::after{
    content: "-";
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content{
    width: 95%;
    padding: 5px;
    margin-top: 3px;
    height: 150px;
    display: none;
}
.wrapper .items-container .side-left .section .expand .dropdown-content{
    display: block;
}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label{
    float: left;
    width: 100%;
    padding: 2px;

}
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.brand,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.rating,
.wrapper .items-container .side-left .section .dropdown .dropdown-content>label>.discount{
    margin-right: 5px;
}
.wrapper .items-container .side-right{
    position: absolute;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20.7%;
    border-radius: 2px;
    width: 78.9%;
}
.wrapper .items-container .side-right .block-up{
    border-bottom: 1px solid gainsboro;
    height: 85px;
}
.wrapper .items-container .side-right .block-up .path{
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .path span{
    color: grey;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-up .path i{
    color: grey;
}
.wrapper .items-container .side-right .block-up .block-head h4{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort{
    padding: 5px;
    margin-left: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 h5{
    font-size: 16px;
    padding-right:10px ;
    float: left;
    margin-bottom: 5px;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    float: left;
}
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p,
.wrapper .items-container .side-right .block-up .block-head .sort .sort-1 p{
    padding-right:10px;
    font-size: 14px;
    margin-top: 2px;
}
.wrapper .items-container .side-right .block-down{
    padding: 5px;
}
.wrapper .items-container .side-right .block-down .row{
    position: relative;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    transition: 0.3s;
    border-radius: 5px;
    height: 350px;
    float: left;
    /* padding: 1px; */
    margin:2px;
}
.wrapper .items-container .side-right .block-down .row:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.wrapper .items-container .side-right .block-down .row a>.fa{
    color: black;
    opacity: 0.2;
    position: absolute;
    padding: 5px;
    margin-left: 80%;
}
.wrapper .items-container .side-right .block-down .row a>.fa:hover{
    opacity: 0.5;
}
.wrapper .items-container .side-right .block-down .row a{
    text-decoration: none;
}
.wrapper .items-container .side-right .block-down .row .card-img{
    height: 280px;
    width: 100%;
    padding: 15px;
}
.wrapper .items-container .side-right .block-down .row .description{
    position: absolute;
    background-color:white;
    transition: 0.3s;
    width: 96%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 1px;
    overflow: hidden;
}
.wrapper .items-container .side-right .block-down .row:hover .description{
    height: 100px;
}
.wrapper .items-container .side-right .block-down .row:hover .description>h5{
    font-size: 14px;
    font-weight: 500;
}
.wrapper .items-container .side-right .block-down .row:hover .description h5,
.wrapper .items-container .side-right .block-down .row:hover .description>.ac{
    color: rgb(77, 77, 228);
    font-size: 14px;
    font-weight: 600;
}
.wrapper .items-container .side-right .block-down .row .description p>.ac-price{
    text-decoration: line-through;
    color: rgb(77, 73, 73);
    font-size: 15px;
    font-weight: lighter;
}
.wrapper .items-container .side-right .block-down .row .description h5{
    color: rgb(82, 82, 82);
    font-size: 16px;
    padding: 3px;
}
.wrapper .items-container .side-right .block-down .row .description>.ac{
    font-size: 17px;
    font-weight: bold;
}
.wrapper .items-container .side-right .block-down .row .description p{
    color: black;
    font-size: 15px;
    padding: 2px;
}
.wrapper .items-container .side-right .block-down .row .description .extra-info>p{
    font-size: 15px;
    text-transform: capitalize;
}

/* sub-product */
.wrapper .s-product{
    position: relative;
    border-top: 1px solid gainsboro;
    background-color: white!important;
}
.wrapper .s-product .row{
    width: 500px;
    padding-top: 10px;
    float: left;
    height: 700px;
    transition: 0.3s;
}
.wrapper .abc{
    position: fixed;
    /* margin-top: 30px; */
}
.wrapper .s-product .stick{
    /* position: -webkit-sticky; */
    position: fixed;
    margin-top: 30px;
}
.wrapper .s-product .row .block1{
    position: absolute;
    width:90px;
    left: 0;
    right: 0;
    margin-left: 10px;
}

.wrapper .s-product .row .block1 .colum>img{

    width: 100%;
    height: 80px;
    padding:5px ;
}
.wrapper .s-product .row .block2{
    position: relative;
    width: 350px;
    overflow: hidden;
    margin-left: 100px;
}
.wrapper .s-product .row .block2 .colum>img{
    width: 350px;
    height: 400px;
    border: 0.5px solid rgb(242, 242, 242);
    padding:5px ;
}
.wrapper .s-product .row .block1 .colum{
    border: 0.5px solid rgb(242, 242, 242);
}

.wrapper .s-product .row .block1 .colum>img:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}
.wrapper .s-product .row .block2 .colum>img:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}
.wrapper .s-product .row .btn{
    position: relative;
    margin-top: 10px;
}
.wrapper .s-product .row .btn .btn1,
.wrapper .s-product .row .btn .btn2{
    position: absolute;
   margin-top:10px;
   padding:5px ;
   margin-left: 10px;
}
.wrapper .s-product .row .btn1 a{
 margin-left: 5px;
    background-color: #ff9f00;
    padding: 15px 50px;
    border-radius: 2px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
   left: 0;
}
.wrapper .s-product .row .btn2 a{
    background-color:#fb641b;
    padding: 15px 75px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-left: 235px;
    top: 0;
}
.wrapper .s-product .row .btn1 a>i,
.wrapper .s-product .row .btn2 a>i{
    margin-right: 10px;
    color: white;
}
.wrapper .s-product .row .btn1 a>.btn,
.wrapper .s-product .row .btn2 a>.btn{
    background-color: inherit;
    border: none!important;
    color: white;
    font-weight: bolder;
}
.wrapper .s-product .row .btn1 a:hover,
.wrapper .s-product .row .btn2 a:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.wrapper .s-product .p-info{ 
    top: 0;
    position: relative;   
    padding: 10px;
    font-family: Roboto,Arial,sans-serif;
    width: 60%;
    margin-left: 500px;
    margin-top: 0;
    height: auto;
}
 

.wrapper .s-product .p-info h3{
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    color: black;
    padding: 5px;
    font-weight: normal;
}
.wrapper .s-product .p-info .rating{
    width: 100%;
}
.wrapper .s-product .p-info .rating .rate{
    width: 50px;
    padding: 2px;
    overflow: hidden;
}
.wrapper .s-product .p-info .rating .rate>.star{
    padding: 5px;
    background-color: rgb(11, 145, 11);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
}
.wrapper .s-product .p-info .price{
    position: relative;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper .s-product .p-info .price .m-price{
    margin-top: 5px;
    float: left;
    color: black;
    font-size: 20px;
    font-weight: 550;
}
.wrapper .s-product .p-info .price .m-price>span{
    margin-left: 5px;
    color: gray;
    font-size: 17px;
    font-weight: normal;
    text-decoration: line-through;
}
.wrapper .s-product .p-info .price .off{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 550;
    color: #388e3c;
}
.wrapper .s-product .tax{
    position: relative;
    padding: 5px;
    width: 100%;
}
.wrapper .s-product .tax>table{
    padding: 2px;
    width: 50%;
    font-size: 15px;
}
.wrapper .s-product .tax table tr{
    padding: 10px;
}
.wrapper .s-product .tax table tr td{
    padding: 3px;
}
.wrapper .s-product .des{
    padding: 5px;
}
.wrapper .s-product .des>h4{
    padding: 5px;
    font-style: 14px;
    font-weight: 600;
}
.wrapper .s-product .des>p{
    padding: 2px;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 20px;
}
.wrapper .s-product .offer{
    position: relative;
    width: 100%;
}
.wrapper .s-product .offer h4{
    font-size: 15px;
    padding: 5px;
}
.wrapper .s-product .offer ul li{
    padding: 3px;
    list-style: none;
}
.wrapper .s-product .offer ul li i{
    float: left;
    padding:5px ;
    color: rgb(61, 175, 61);
}
.wrapper .s-product .offer ul li p{
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.wrapper .s-product .offer ul li p>span{
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.wrapper .s-product .spec{
    padding: 5px;
    width: 100%;
    margin-top: 15px;
}
.wrapper .s-product .spec .spec-table{
    width: 100%;
    border-collapse: collapse;
}
.wrapper .s-product .spec .spec-table td,
.wrapper .s-product .spec .spec-table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.wrapper .s-product .spec .spec-table .head>th{
    width: 100%;
}
.wrapper .s-product .spec .spec-table .head>th>h3{
    text-align: start;
    font-size: 20px;
    color: black;
}
.wrapper .s-product .spec .spec-table tr td{
    font-size: 15px;
    padding-left: 10px;
}